<ion-view title="'Home'">
    <ion-nav-view></ion-nav-view>
    <ion-footer-bar align-title="center" class="bar-positive" style="background: white;">
        <div class="bottom-img" ng-click="gotoHome()">
            <img ng-src="{{bottomImg}}" ng-click="bottomClick()" style="width: 25px;">
            <div ng-style="css1">首页</div>
        </div>
        <div class="bottom-img">
            <img ng-src="{{bottomImgSecond}}" ng-click="bottomClickSecond()" style="width: 25px;">
            <div ng-style="css2">新品</div>
        </div>
        <div class="bottom-img">
            <img ng-src="{{bottomImgThird}}" ng-click="bottomClickThird()" style="width: 25px;">
            <div ng-style="css3">购物车</div>
        </div>
        <div class="bottom-img" ng-click="goToUserInfo()">
            <img ng-src="{{bottomImgFour}}" ng-click="bottomClickFour()" style="width: 25px;">
            <div ng-style="css4">我</div>
        </div>

    </ion-footer-bar>
</ion-view>