<ion-view title="'Home'">
    <!--头部-->
    <ion-header-bar align-title="center" class="home-page-header">
        <h1 class="title" style="left: 0;right: 0;color: white;">
            <span class="title-content">
                订单管理</span>
        </h1>


        <div style="font-size: 10px;position: absolute;left: 10px;;">
            <div style="float: right;margin-right: 10px;margin-top: 8px" ng-click="goBack()">
                <i class="icon ion-chevron-left" style="color: white;font-size: 18px"></i>
            </div>

        </div>
    </ion-header-bar>

    <!--中间内容-->
    <ion-content>
        <ion-item>
            <div class="list">
                <label class="item item-input" style="border: 0;">
                    <span class="input-label" style="width: 20%;">收件人姓名：</span>
                    <input type="text" ng-model="name" placeholder="请输入姓名">

                </label>
            </div>
        </ion-item>

        <ion-item>
            <div class="list">
                <label class="item item-input" style="border: 0;">
                    <span class="input-label" style="width: 20%;">收件人号码：</span>
                    <input type="text" ng-model="phoneNo" placeholder="请输入手机号码">

                </label>
            </div>
        </ion-item>

        <ion-item>
            <ionic-city-picker options='vm.cityPickData'></ionic-city-picker>
        </ion-item>

        <ion-item>
            <div class="list">
                <label class="item item-input" style="border: 0;">
                    <span class="input-label" style="width: 20%;">详细地址：</span>
                    <input type="text" ng-model="detailLocation" placeholder="请填写详细街道地址">
                </label>
            </div>
        </ion-item>

        <ion-item style="bottom: 0;position: absolute;width: 100%;background: red;color: white;text-align: center;" ng-click="goBack()">
            提交订单
        </ion-item>

    </ion-content>
</ion-view>