<ion-view title="'Home'">
    <!--中间内容-->
    <ion-content>
        <ion-item style="background: #ff3300;" ng-click="gotoLogin()">
            <div class="userImg">
                <img src="./img/24.png" style="width: 45%; margin-top: 22px;">

            </div>
            <div class="userText">
                <span>未登录</span>
            </div>

        </ion-item>
        <ion-item>
            <div ng-click="gotoOrder()">
                <span>我的订单</span>
                <span style="float: right;font-size: 14px;color: #cccccc;">查看全部></span>
            </div>
        </ion-item>
        <ion-item>
            <div style="float: left;width: 20%;font-size: 14px;text-align: center;">
                待付款
            </div>
            <div style="float: left;width: 20%;font-size: 14px;text-align: center;">
                待成团
            </div>
            <div style="float: left;width: 20%;font-size: 14px;text-align: center;">
                待发货
            </div>
            <div style="float: left;width: 20%;font-size: 14px;text-align: center;">
                待收货
            </div>
            <div style="float: left;width: 20%;font-size: 14px;text-align: center;">
                待评价
            </div>
        </ion-item>
        <ion-item style="background: #eeeeee;padding: 5px;">
            </ion-item>
        <ion-item>
            <div style="float: left;width: 25%;font-size: 14px;text-align: center;">
                我的消息
            </div>
            <div style="float: left;width: 25%;font-size: 14px;text-align: center;">
                我的优惠券
            </div>
            <div style="float: left;width: 25%;font-size: 14px;text-align: center;">
                我的收藏
            </div>
            <div style="float: left;width: 25%;font-size: 14px;text-align: center;">
                售后/退款
            </div>
        </ion-item>
        <ion-item style="background: #eeeeee;padding: 5px;">
        </ion-item>
        <ion-item>
            <div>
                <span style="margin-left: 20px;">我的拼团</span>
                <span style="float: right">></span>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <span style="margin-left: 20px;">我的积分</span>
                <span style="float: right">></span>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <span style="margin-left: 20px;">个人资料</span>
                <span style="float: right">></span>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <span style="margin-left: 20px;">收货地址</span>
                <span style="float: right">></span>
            </div>
        </ion-item>
        <ion-item>
            <div>
                <span style="margin-left: 20px;">设置</span>
                <span style="float: right">></span>
            </div>
        </ion-item>
        <!--<form action="">-->
        <!--<input class="age" type="number" ng-model="views.age"/>-->
        <!--</form>-->
    </ion-content>
</ion-view>